/* Tomorrow Night */
@define-color base00 #1d1f21;
@define-color base01 #282a2e;
@define-color base02 #373b41;
@define-color base03 #969896;
@define-color base04 #b4b7b4;
@define-color base05 #c5c8c6;
@define-color base06 #e0e0e0;
@define-color base07 #ffffff;
@define-color base08 #cc6666;
@define-color base09 #de935f;
/*
@define-color base0A #f0c674;
@define-color base0B #b5bd68;
@define-color base0C #8abeb7;
@define-color base0D #81a2be;
@define-color base0E #b294bb;
@define-color base0F #a3685a;
*/

/* Tomorrow */
/*
@define-color base00 #ffffff;
@define-color base01 #e0e0e0;
@define-color base02 #d6d6d6;
@define-color base03 #8e908c;
@define-color base04 #969896;
@define-color base05 #4d4d4c;
@define-color base06 #282a2e;
@define-color base07 #1d1f21;
@define-color base08 #c82829;
@define-color base09 #f5871f;
@define-color base0A #eab700;
@define-color base0B #718c00;
@define-color base0C #3e999f;
@define-color base0D #4271ae;
@define-color base0E #8959a8;
@define-color base0F #a3685a;
*/

/* Reset Styling */
* {
    border: none;
    border-radius: 0;
    font-size: 13px;
    min-height: 0;
}

window.LVDS-1 * {
  font-size: 11px;
}

/* The Bar */
window#waybar {
    background-color: @base02;
    border-bottom: 0.2em solid @base01;
    color: @base06;
    font-family: "Symbols Nerd Font", sans-serif;
    letter-spacing: 1px;
}

#workspaces button {
  border-bottom: 0.125em solid transparent;
  color: @base06;
  margin-bottom: 0.2em;
  padding: 0.300em;
  font-weight: 700;
}

#workspaces button.focused {
  color: @base09;
  border-bottom: 0.125em solid @base09;
}

#disk, #clock, #temperature, #cpu, #memory, #mode {
  border-bottom: 0.125em solid transparent;
  margin-bottom: 0.2em;
  padding: 0.300em 1.2em;
  font-weight: 600;
}

#mode {
  color: @base09;
}
